IA031_006/BW/IA031_006_FGLFRN_StoreReceiving_AX_Publisher/Schemas/Target-arts/Arts_FRN_StoreReceiving.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 (x64) (http://www.altova.com) by Siva (Canadian Tire) -->
<!-- W3C Schema generated by XMLSpy v2020 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://www.fgl.com/exchange/" xmlns:arts="http://www.fgl.com/ARTS" xmlns:eai="http://www.fgl.com/exchange/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/exchange/">
	<xs:import namespace="http://www.fgl.com/ARTS" schemaLocation="arts_storerecv1.xsd"/>
	<xs:element name="Exchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eai:Messages" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="MajorVersion" type="xs:byte"/>
			<xs:attribute name="MinorVersion" type="xs:byte"/>
			<xs:attribute name="FixVersion" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eai:SourceSystems" minOccurs="0"/>
				<xs:element ref="arts:StoreReceiving" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceSystems">
		<xs:complexType/>
	</xs:element>
	<xs:element name="StoreReceiving">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:Header"/>
				<xs:element ref="arts:Details"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:DocumentType"/>
				<xs:element ref="arts:CartonNumber"/>
				<xs:element ref="arts:StoreNumber"/>
				<xs:element ref="arts:CarrierTrackingNumber"/>
				<xs:element ref="arts:RMANumber"/>
				<xs:element ref="arts:ReceivedDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentType" type="xs:string"/>
	<xs:element name="CartonNumber" type="xs:decimal"/>
	<xs:element name="StoreNumber" type="xs:short"/>
	<xs:element name="CarrierTrackingNumber" type="xs:string"/>
	<xs:element name="RMANumber" type="xs:string"/>
	<xs:element name="ReceivedDate" type="xs:string"/>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:Detail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:DetailId"/>
				<xs:element ref="arts:VPN"/>
				<xs:element ref="arts:EnglishPOSDescription"/>
				<xs:element ref="arts:FrenchPOSDescription"/>
				<xs:element ref="arts:Sku1"/>
				<xs:element ref="arts:Sku2"/>
				<xs:element ref="arts:ColorCode"/>
				<xs:element ref="arts:SizeCode"/>
				<xs:element ref="arts:UOM"/>
				<xs:element ref="arts:POSBarcode"/>
				<xs:element ref="arts:InvoiceId"/>
				<xs:element ref="arts:PurchasePool"/>
				<xs:element ref="arts:PurchId"/>
				<xs:element ref="arts:Vendor"/>
				<xs:element ref="arts:VendorName"/>
				<xs:element ref="arts:ReceivedQty"/>
				<xs:element ref="arts:AdjustmentDate"/>
				<xs:element ref="arts:AdjustmentNumber"/>
				<xs:element ref="arts:AdjustmentQuantity"/>
				<xs:element ref="arts:AdjustmentQuantityAction"/>
				<xs:element ref="arts:AdjustmentReasonCode"/>
				<xs:element ref="arts:AdjustmentCost"/>
				<xs:element ref="arts:AdjustmentQuantityUOM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DetailId" type="xs:int"/>
	<xs:element name="VPN" type="xs:string"/>
	<xs:element name="EnglishPOSDescription" type="xs:string"/>
	<xs:element name="FrenchPOSDescription" type="xs:string"/>
	<xs:element name="Sku1" type="xs:byte"/>
	<xs:element name="Sku2" type="xs:byte"/>
	<xs:element name="ColorCode" type="xs:string"/>
	<xs:element name="SizeCode" type="xs:string"/>
	<xs:element name="UOM" type="xs:int"/>
	<xs:element name="POSBarcode" type="xs:long"/>
	<xs:element name="InvoiceId" type="xs:string"/>
	<xs:element name="PurchasePool" type="xs:string"/>
	<xs:element name="PurchId" type="xs:string"/>
	<xs:element name="Vendor" type="xs:short"/>
	<xs:element name="VendorName" type="xs:string"/>
	<xs:element name="ReceivedQty" type="xs:decimal"/>
	<xs:element name="AdjustmentDate" type="xs:string"/>
	<xs:element name="AdjustmentNumber" type="xs:string"/>
	<xs:element name="AdjustmentQuantity" type="xs:decimal"/>
	<xs:element name="AdjustmentQuantityAction" type="xs:string"/>
	<xs:element name="AdjustmentReasonCode" type="xs:string"/>
	<xs:element name="AdjustmentCost" type="xs:decimal"/>
	<xs:element name="AdjustmentQuantityUOM" type="xs:int"/>
</xs:schema>
