IA031_006/BW/IA031_006_FGLFRN_StoreReceiving_AX_Publisher/Schemas/Target-arts/arts_storerecv1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 (x64) (http://www.altova.com) by Siva (Canadian Tire) -->
<!-- W3C Schema generated by XMLSpy v2020 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://www.fgl.com/ARTS" xmlns:arts="http://www.fgl.com/ARTS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fgl.com/ARTS">
	<xs:element name="AdjustmentCost" type="xs:decimal"/>
	<xs:element name="AdjustmentDate" type="xs:string"/>
	<xs:element name="AdjustmentNumber" type="xs:string"/>
	<xs:element name="AdjustmentQuantity" type="xs:decimal"/>
	<xs:element name="AdjustmentQuantityAction" type="xs:string"/>
	<xs:element name="AdjustmentQuantityUOM" type="xs:int"/>
	<xs:element name="AdjustmentReasonCode" type="xs:string"/>
	<xs:element name="CarrierTrackingNumber" type="xs:string"/>
	<xs:element name="RMANumber" type="xs:string"/>
	<xs:element name="CartonNumber" type="xs:decimal"/>
	<xs:element name="ColorCode" type="xs:string"/>
	<xs:element name="Detail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:DetailId" minOccurs="0"/>
				<xs:element ref="arts:VPN" minOccurs="0"/>
				<xs:element ref="arts:EnglishPOSDescription" minOccurs="0"/>
				<xs:element ref="arts:FrenchPOSDescription" minOccurs="0"/>
				<xs:element ref="arts:Sku1" minOccurs="0"/>
				<xs:element ref="arts:Sku2" minOccurs="0"/>
				<xs:element ref="arts:ColorCode" minOccurs="0"/>
				<xs:element ref="arts:SizeCode" minOccurs="0"/>
				<xs:element ref="arts:UOM" minOccurs="0"/>
				<xs:element ref="arts:POSBarcode" minOccurs="0"/>
				<xs:element ref="arts:InvoiceId" minOccurs="0"/>
				<xs:element ref="arts:PurchasePool" minOccurs="0"/>
				<xs:element ref="arts:PurchId" minOccurs="0"/>
				<xs:element ref="arts:Vendor" minOccurs="0"/>
				<xs:element ref="arts:VendorName" minOccurs="0"/>
				<xs:element ref="arts:ReceivedQty" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentDate" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentNumber" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentQuantity" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentQuantityAction" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentReasonCode" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentCost" minOccurs="0"/>
				<xs:element ref="arts:AdjustmentQuantityUOM" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DetailId" type="xs:int"/>
	<xs:element name="Details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:Detail" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentType" type="xs:string"/>
	<xs:element name="EnglishPOSDescription" type="xs:string"/>
	<xs:element name="FrenchPOSDescription" type="xs:string"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:DocumentType" minOccurs="0"/>
				<xs:element ref="arts:CartonNumber" minOccurs="0"/>
				<xs:element ref="arts:StoreNumber" minOccurs="0"/>
				<xs:element ref="arts:CarrierTrackingNumber" minOccurs="0"/>
				<xs:element ref="arts:RMANumber" minOccurs="0"/>
				<xs:element ref="arts:ReceivedDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceId" type="xs:string"/>
	<xs:element name="POSBarcode" type="xs:long"/>
	<xs:element name="PurchId" type="xs:string"/>
	<xs:element name="PurchasePool" type="xs:string"/>
	<xs:element name="ReceivedDate" type="xs:string"/>
	<xs:element name="ReceivedQty" type="xs:decimal"/>
	<xs:element name="SizeCode" type="xs:string"/>
	<xs:element name="UOM" type="xs:int"/>
	<xs:element name="Sku1" type="xs:byte"/>
	<xs:element name="Sku2" type="xs:byte"/>
	<xs:element name="StoreNumber" type="xs:short"/>
	<xs:element name="StoreReceiving">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arts:Header" minOccurs="0"/>
				<xs:element ref="arts:Details" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VPN" type="xs:string"/>
	<xs:element name="Vendor" type="xs:short"/>
	<xs:element name="VendorName" type="xs:string"/>
</xs:schema>
