IA031_006/BW/IA031_006_FGLFRN_StoreReceiving_AX_Publisher/Schemas/Source-Ax/AX_FRN_Storereceiving.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 (x64) (http://www.altova.com) by Siva (Canadian Tire) -->
<!-- W3C Schema generated by XMLSpy v2020 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://schemas.microsoft.com/dynamics/2011/01/documents/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:n1="http://schemas.microsoft.com/dynamics/2008/01/documents/fglReceivingOut" targetNamespace="http://schemas.microsoft.com/dynamics/2011/01/documents/Message">
	<xs:import namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/fglReceivingOut" schemaLocation="ax_storerecv1.xsd"/>
	<xs:element name="Envelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header" minOccurs="0"/>
				<xs:element ref="Body" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageId" minOccurs="0"/>
				<xs:element ref="Action" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageId" type="xs:string"/>
	<xs:element name="Action" type="xs:anyURI"/>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageParts" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageParts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="n1:fglReceivingOut" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fglReceivingOut">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocPurpose"/>
				<xs:element ref="MessageCreationDateTime"/>
				<xs:element ref="SenderId"/>
				<xs:element ref="fglReceivingOutHeader"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocPurpose" type="xs:string"/>
	<xs:element name="MessageCreationDateTime" type="xs:dateTime"/>
	<xs:element name="SenderId" type="xs:string"/>
	<xs:element name="fglReceivingOutHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_DocumentHash"/>
				<xs:element ref="CarrierTrackingNumber"/>
				<xs:element ref="RMANumber"/>
				<xs:element ref="CartonNumber"/>
				<xs:element ref="DocumentType"/>
				<xs:element ref="ReceivedDate"/>
				<xs:element ref="Store"/>
				<xs:element ref="fglReceivingOutLine"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="_DocumentHash" type="xs:string"/>
	<xs:element name="CarrierTrackingNumber" type="xs:string"/>
	<xs:element name="RMANumber" type="xs:string"/>
	<xs:element name="CartonNumber" type="xs:decimal"/>
	<xs:element name="DocumentType" type="xs:string"/>
	<xs:element name="ReceivedDate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:dateTime">
					<xs:attribute name="localDateTime" type="xs:dateTime" use="required"/>
					<xs:attribute name="timezone" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Store" type="xs:short"/>
	<xs:element name="fglReceivingOutLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ColorCode"/>
				<xs:element ref="DeliveryType"/>
				<xs:element ref="EnglishPOSDescription"/>
				<xs:element ref="ExternalRefID"/>
				<xs:element ref="FglSKU2"/>
				<xs:element ref="FrenchPOSDescription"/>
				<xs:element ref="InvoiceId"/>
				<xs:element ref="ItemId"/>
				<xs:element ref="POSBarcode"/>
				<xs:element ref="PurchasePool"/>
				<xs:element ref="PurchId"/>
				<xs:element ref="Quantity"/>
				<xs:element ref="SizeCode"/>
				<xs:element ref="UOM"/>
				<xs:element ref="Vendor"/>
				<xs:element ref="VendorName"/>
				<xs:element ref="VendorSizeCode"/>
				<xs:element ref="VPN"/>
				<xs:element ref="fglReceivingOutLineAdj"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ColorCode" type="xs:string"/>
	<xs:element name="DeliveryType" type="xs:string"/>
	<xs:element name="EnglishPOSDescription" type="xs:string"/>
	<xs:element name="ExternalRefID" type="xs:int"/>
	<xs:element name="FglSKU2" type="xs:int"/>
	<xs:element name="FrenchPOSDescription" type="xs:string"/>
	<xs:element name="InvoiceId" type="xs:string"/>
	<xs:element name="ItemId" type="xs:byte"/>
	<xs:element name="POSBarcode" type="xs:long"/>
	<xs:element name="PurchasePool" type="xs:string"/>
	<xs:element name="PurchId" type="xs:string"/>
	<xs:element name="Quantity" type="xs:decimal"/>
	<xs:element name="SizeCode" type="xs:string"/>
	<xs:element name="UOM" type="xs:int"/>
	<xs:element name="Vendor" type="xs:short"/>
	<xs:element name="VendorName" type="xs:string"/>
	<xs:element name="VendorSizeCode" type="xs:string"/>
	<xs:element name="VPN" type="xs:string"/>
	<xs:element name="fglReceivingOutLineAdj">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AdjustmentCost"/>
				<xs:element ref="AdjustmentDate"/>
				<xs:element ref="AdjustmentJournal"/>
				<xs:element ref="AdjustmentNumber"/>
				<xs:element ref="AdjustmentQuantity"/>
				<xs:element ref="AdjustmentQuantityAction"/>
				<xs:element ref="AdjustmentQuantityUOM"/>
				<xs:element ref="AdjustmentReasonCode"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentCost" type="xs:decimal"/>
	<xs:element name="AdjustmentDate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:dateTime">
					<xs:attribute name="localDateTime" type="xs:dateTime" use="required"/>
					<xs:attribute name="timezone" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentJournal" type="xs:string"/>
	<xs:element name="AdjustmentNumber" type="xs:string"/>
	<xs:element name="AdjustmentQuantity" type="xs:decimal"/>
	<xs:element name="AdjustmentQuantityAction" type="xs:string"/>
	<xs:element name="AdjustmentQuantityUOM" type="xs:int"/>
	<xs:element name="AdjustmentReasonCode" type="xs:string"/>
</xs:schema>
