IA031_006/BW/IA031_006_FGLFRN_StoreReceiving_AX_Publisher/Schemas/Source-Ax/ax_storerecv1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 (x64) (http://www.altova.com) by Siva (Canadian Tire) -->
<!-- W3C Schema generated by XMLSpy v2020 (x64) (http://www.altova.com) -->
<xs:schema xmlns="http://schemas.microsoft.com/dynamics/2008/01/documents/fglReceivingOut" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/fglReceivingOut">
	<xs:element name="AdjustmentCost" type="xs:decimal"/>
	<xs:element name="AdjustmentDate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:dateTime">
					<xs:attribute name="localDateTime" type="xs:dateTime" use="required"/>
					<xs:attribute name="timezone" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjustmentJournal" type="xs:string"/>
	<xs:element name="AdjustmentNumber" type="xs:string"/>
	<xs:element name="AdjustmentQuantity" type="xs:decimal"/>
	<xs:element name="AdjustmentQuantityAction" type="xs:string"/>
	<xs:element name="AdjustmentQuantityUOM" type="xs:byte"/>
	<xs:element name="AdjustmentReasonCode" type="xs:string"/>
	<xs:element name="CarrierTrackingNumber" type="xs:string"/>
	<xs:element name="RMANumber" type="xs:string"/>
	<xs:element name="CartonNumber" type="xs:decimal"/>
	<xs:element name="ColorCode" type="xs:string"/>
	<xs:element name="DeliveryType" type="xs:string"/>
	<xs:element name="DocPurpose" type="xs:string"/>
	<xs:element name="DocumentType" type="xs:string"/>
	<xs:element name="EnglishPOSDescription" type="xs:string"/>
	<xs:element name="ExternalRefID" type="xs:int"/>
	<xs:element name="FglSKU2" type="xs:byte"/>
	<xs:element name="FrenchPOSDescription" type="xs:string"/>
	<xs:element name="InvoiceId" type="xs:string"/>
	<xs:element name="ItemId" type="xs:byte"/>
	<xs:element name="MessageCreationDateTime" type="xs:dateTime"/>
	<xs:element name="POSBarcode" type="xs:long"/>
	<xs:element name="PurchId" type="xs:string"/>
	<xs:element name="PurchasePool" type="xs:string"/>
	<xs:element name="Quantity" type="xs:decimal"/>
	<xs:element name="ReceivedDate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:dateTime">
					<xs:attribute name="localDateTime" type="xs:dateTime" use="required"/>
					<xs:attribute name="timezone" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SenderId" type="xs:string"/>
	<xs:element name="SizeCode" type="xs:string"/>
	<xs:element name="Store" type="xs:short"/>
	<xs:element name="UOM" type="xs:int"/>
	<xs:element name="VPN" type="xs:string"/>
	<xs:element name="Vendor" type="xs:short"/>
	<xs:element name="VendorName" type="xs:string"/>
	<xs:element name="VendorSizeCode" type="xs:string"/>
	<xs:element name="_DocumentHash" type="xs:string"/>
	<xs:element name="fglReceivingOut">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocPurpose" minOccurs="0"/>
				<xs:element ref="MessageCreationDateTime" minOccurs="0"/>
				<xs:element ref="SenderId" minOccurs="0"/>
				<xs:element ref="fglReceivingOutHeader" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fglReceivingOutHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_DocumentHash" minOccurs="0"/>
				<xs:element ref="CarrierTrackingNumber" minOccurs="0"/>
				<xs:element ref="RMANumber" minOccurs="0"/>
				<xs:element ref="CartonNumber" minOccurs="0"/>
				<xs:element ref="DocumentType" minOccurs="0"/>
				<xs:element ref="ReceivedDate" minOccurs="0"/>
				<xs:element ref="Store" minOccurs="0"/>
				<xs:element ref="fglReceivingOutLine" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fglReceivingOutLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ColorCode" minOccurs="0"/>
				<xs:element ref="DeliveryType" minOccurs="0"/>
				<xs:element ref="EnglishPOSDescription" minOccurs="0"/>
				<xs:element ref="ExternalRefID" minOccurs="0"/>
				<xs:element ref="FglSKU2" minOccurs="0"/>
				<xs:element ref="FrenchPOSDescription" minOccurs="0"/>
				<xs:element ref="InvoiceId" minOccurs="0"/>
				<xs:element ref="ItemId" minOccurs="0"/>
				<xs:element ref="POSBarcode" minOccurs="0"/>
				<xs:element ref="PurchasePool" minOccurs="0"/>
				<xs:element ref="PurchId" minOccurs="0"/>
				<xs:element ref="Quantity" minOccurs="0"/>
				<xs:element ref="SizeCode" minOccurs="0"/>
				<xs:element ref="UOM" minOccurs="0"/>
				<xs:element ref="Vendor" minOccurs="0"/>
				<xs:element ref="VendorName" minOccurs="0"/>
				<xs:element ref="VendorSizeCode" minOccurs="0"/>
				<xs:element ref="VPN" minOccurs="0"/>
				<xs:element ref="fglReceivingOutLineAdj" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fglReceivingOutLineAdj">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AdjustmentCost" minOccurs="0"/>
				<xs:element ref="AdjustmentDate" minOccurs="0"/>
				<xs:element ref="AdjustmentJournal" minOccurs="0"/>
				<xs:element ref="AdjustmentNumber" minOccurs="0"/>
				<xs:element ref="AdjustmentQuantity" minOccurs="0"/>
				<xs:element ref="AdjustmentQuantityAction" minOccurs="0"/>
				<xs:element ref="AdjustmentQuantityUOM" minOccurs="0"/>
				<xs:element ref="AdjustmentReasonCode" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
